




img {
	display:block;
     margin: auto;
         
    
}


h1{
	color: red;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	font-style: italic;
	font-size: 80px;
	
}
iframe {
	display: block;
	margin: auto;
	
   
	 
}
p#bg{
	font-family: "Arial";
	color:maroon;
	text-align:center;
	font-size: 18px;
}
	